doctype html
html
  head
    link(href="/index.css" rel="stylesheet" type="text/css")
  body
    h1 Heading
    p Hello There, this is an application
    p and now we have a second paragraph
    p and a third