doctype html
html
  head
    link(href="/index.css" rel="stylesheet" type="text/css")
  body
    h1 Heading
    
    div(id="root")
    
    script(src="/index.js")

    form(id='s3-form')

      input(type='file' id='s3file' name='file')