.file-importer {
  padding: 50px;
  height: 100%;
  cursor: pointer;
  border: 3px dashed #ccc;
  border-radius: 10px; }
  .file-importer:hover {
    border-color: #aaa; }

body {
  font-family: sans-serif; }
